body {
    font-family: 'Roboto', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .restuarant-profile-pic {
    background-image: url("http://placekitten.com/700/300");
    background-size:cover;
  }

  .list-group-item {
      border:none;
  }

  .adjust-icons {
    position:relative;
    top:4px;
  }

  :root {
    --color-one: #ec5551;
    --color-two: #961e12;
    --color-three: #ffe50a;
    --color-four: #fd9c02;
    --color-five: #f6f6f6;

    --color-one-light: #ee7c78;
    --color-two-light: #a0463e;
    --color-three-light: #fae953;
    --color-four-light: #f8b64d;
  }

  .bg-color-one {
    background-color:var(--color-one);
  }

  .bg-color-two {
    background-color:var(--color-two);
  }

  .bg-color-three {
    background-color:var(--color-three);
  }

  .bg-color-four {
    background-color:var(--color-four);
  }

  .btn-color-one {
    background-color:var(--color-one);
    border:var(--color-one);
    color:#fff;
  }

  .btn-color-one:hover {
    background-color:var(--color-one-light);
    color:#fff;
  }

  .btn-color-two {
    background-color:var(--color-two);
    border:var(--color-two);
    color:#fff;
  }

  .btn-color-two:hover {
    background-color:var(--color-two-light);
    color:#fff;
  }

  .btn-color-three {
    background-color:var(--color-three);
    border:var(--color-three);
    color:#fff;
  }

  .btn-color-three:hover {
    background-color:var(--color-three-light);
    color:#fff;
  }
  
  .btn-color-four {
    background-color:var(--color-four);
    border:var(--color-four);
    color:#fff;
  }

  .btn-color-four:hover {
    background-color:var(--color-four-light);
    color:#fff;
  }

  .color-one {
    color: var(--color-one);
  }

  .color-two {
    color: var(--color-two);
  }

  .color-three {
    color: var(--color-three);
  }

  .color-four {
    color: var(--color-four);
  }

  .color-five {
    color: var(--color-five);
  }

  .close {
      border:none;
      background-color:#fff;
  }

  /* Tomato */
  /* #ec5551 */
  /* rgb(236,85,81) */

  /* Brown */
  /* #961e12 */
  /* rgb(150,30,18) */

  /* Gold */
  /* #ffe50a */
  /* rgb(255,229,10) */

  /* Orange */
  /* #fd9c02 */
  /* rgb(253,156,2) */

  /* Whitesmoke */
  /* #f6f6f6 */
  /* rgb(246,246,246) */